
<script>

  window.frameData = <%= raw @gameFrames.to_json %>;

</script>
<%= javascript_include_tag "play/show" %>

<div class="content">

  <div class="leftPanel">

    <h1>Play RubyWarrior</h1>
    <br />
    <p><h2>
      <%= @warrior.name %> ( lvl: <%= @warrior.level %> )
    </h2></p>

    
    
    <div id="craftingField">
      <div class="item placeholder"></div>
    </div>

    <div class="bank">
      <ul>

        <div>
          <div class="bankItem">
            <div class="item action action-move"><div class="icon run"></div></div>
          </div>
          <p>
          move forward one tile
        </p>
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-turn"><div class="icon turn"></div></div>
          </div>
          turn right
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-attack"><div class="icon attack"></div></div>
          </div>
          attack forward
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-heal"><div class="icon heal"></div></div>
          </div>
          rest 3 turns, healing 2 each
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-retreat"><div class="icon retreat"></div></div>
          </div>
          retreat
        </div>

        <div>
          <div class="bankItem">
            <div class="macro item conditional">
              <div class="conditionContainer">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-true">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-false">
                <div class="item placeholder"></div>
              </div>
            </div>
          </div>
          if statement structure
        </div>

        <div>
          <div class="bankItem">
            <div class="macro item stack">
              <div class="path">
                <div class="item placeholder"></div>
              </div>
              <div class="path">
                <div class="item placeholder"></div>
              </div>
            </div>
          </div>
          action stack
        </div>

        <div>
          <div class="bankItem">
            <div class="item condition condition-empty"><div class="icon blackberry"></div></div>
          </div>
          if forward tile is empty
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-enemy"><div class="icon radish"></div></div>
          </div>
          if forward tile is enemy
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-wall"><div class="icon acorn"></div></div>
          </div>
          if forward tile is wall
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-lowHealth"><div class="icon cherry"></div></div>
          </div>
          if low health
        </div>

      </ul>
    </div>

    <br />

    <%= form_for(@warrior, remote: true, :format => :json) do |f| %>
      <div class="actions">
        <%= f.submit %>
      </div>
      <div class="field" style-debug="display: none;">
        <%= f.label :code %><br />
        <%= f.text_area :code %>
      </div>
    <% end %>

  </div>

  <div class="rightPanel">

    <pre id="map">loading...</pre>
    <pre id="actionsMessage">loading...</pre>

    <pre><%= simple_format @readme %></pre>

    <p><%= simple_format @message %></p>


  </div>

</div>


  
