
<script>

  window.frameData = <%= raw @gameFrames.to_json %>;

</script>
<%= javascript_include_tag "play/show" %>

<div class="content">

  <div class="panel panel_left">

    <div class="content_panel" id="title">
      <h1>RubyWarrior</h1>
    </div>

    
    
    <div class="content_panel" id="craftingContainer">
      <div class="content_panel" id="craftingField">

        <div class="macro item conditional">
          <div class="conditionContainer">
            <div class="item placeholder"></div>
          </div>
          <div class="path path-true">
            <div class="item placeholder"></div>
          </div>
          <div class="path path-false">
            <div class="item placeholder"></div>
          </div>
        </div>

      </div>
    </div>

    <div class="content_panel" style="width:100%;">
      <%= form_for(@warrior, remote: true, :format => :json) do |f| %>
        <div class="actions">
          <%= f.submit %>
        </div>
        <div class="field" style="display: none;">
          <%= f.label :code %><br />
          <%= f.text_area :code %>
        </div>
      <% end %>
    </div>

    <div class="bank content_panel">
      <ul>

        <div>
          <div class="bankItem">
            <div class="item action action-move"><div class="icon run"></div></div>
          </div>
          <!-- move forward one tile -->
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-turn"><div class="icon turn"></div></div>
          </div>
          <!-- turn right -->
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-attack"><div class="icon attack"></div></div>
          </div>
          <!-- attack forward -->
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-heal"><div class="icon heal"></div></div>
          </div>
          <!-- rest 3 turns, healing 2 each -->
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-retreat"><div class="icon retreat"></div></div>
          </div>
          <!-- retreat -->
        </div>

        <div>
          <div class="bankItem">
            <div class="macro item conditional">
              <div class="conditionContainer">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-true">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-false">
                <div class="item placeholder"></div>
              </div>
            </div>
          </div>
          <!-- if statement structure -->
        </div>

        <div>
          <div class="bankItem">
            <div class="macro item stack">
              <div class="path">
                <div class="item placeholder"></div>
              </div>
              <div class="path">
                <div class="item placeholder"></div>
              </div>
            </div>
          </div>
          <!-- action stack -->
        </div>

        <div>
          <div class="bankItem">
            <div class="item condition condition-empty"><div class="icon blackberry"></div></div>
          </div>
            <!-- if forward tile is empty -->
          </span>
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-enemy"><div class="icon radish"></div></div>
          </div>
            <!-- if forward tile is enemy -->
          </span>
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-wall"><div class="icon acorn"></div></div>
          </div>
            <!-- if forward tile is wall -->
          </span>
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-lowHealth"><div class="icon cherry"></div></div>
          </div>
            <!-- if low health -->
          </span>
        </div>

      </ul>
    </div>

    <div class="content_panel" style="width:100%; height: 60px"></div>

  </div>

  <div class="panel panel_right">

    <div class="content_panel" id="map">loading...</div>
    <div class="content_panel text" id="actionsMessage">loading...</div>
    <div class="content_panel"></div>
    <div class="content_panel text" id="readMe"><%= simple_format @readme %></div>
    <div class="content_panel"></div>
    <div class="content_panel text" id="message"><%= simple_format @message %></div>
    <div class="content_panel"></div>

  </div>

</div>


  
