<div class="content">

  <div class="leftPanel">

    <h1>Play RubyWarrior</h1>
    <br />
    <p><h2>
      <%= @warrior.name %> ( lvl: <%= @warrior.level %> )
    </h2></p>

    
    <div id="craftingField">
      <div class="item placeholder"></div>
    </div>

    <div class="bank">
      <ul>

        <div>
          <div class="bankItem">
            <div class="item action action-move"><div class="icon run"></div></div>
          </div>
          <p>
          move forward one tile
        </p>
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-turn"><div class="icon turn"></div></div>
          </div>
          turn right
        </div>

        <div>
          <div class="bankItem">
            <div class="item action action-attack"><div class="icon attack"></div></div>
          </div>
          attack forward
        </div>

        <div>
          <div class="bankItem">
            <div class="item conditional">
              <div class="conditionContainer">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-true">
                <div class="item placeholder"></div>
              </div>
              <div class="path path-false">
                <div class="item placeholder"></div>
              </div>
            </div>
          </div>
          if statement structure
        </div>

        <div>
          <div class="bankItem">
            <div class="item condition condition-empty"><div class="icon blackberry"></div></div>
          </div>
          if forward tile is empty
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-enemy"><div class="icon radish"></div></div>
          </div>
          if forward tile is enemy
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-wall"><div class="icon acorn"></div></div>
          </div>
          if forward tile is wall
        </div>

        <div>
          <div class="bankItem">
          <div class="item condition condition-lowHealth"><div class="icon cherry"></div></div>
          </div>
          if low health
        </div>

      </ul>
    </div>

    <br />

  </div>

  <div class="rightPanel">

    <pre class="map">loading...</pre>

    <pre><%= simple_format @readme %></pre>

    <%= form_for(@warrior) do |f| %>
      <div class="field">
        <%= f.label :code %><br />
        <%= f.text_area :code, disabled: true %>
      </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

    <p><%= simple_format @message %></p>


  </div>

</div>

<script>

  window.frameJSON = <%= raw @frameJSON.to_json %>;
  window.frameData = JSON.parse( window.frameJSON );

  window.frameData.forEach(function(frame,index){

    setTimeout( function(){
      var formattedLevelMap;
      formattedLevelMap = frame.levelMap;
      formattedLevelMap = formattedLevelMap+"\n"+frame.actionsMessage;
      formattedLevelMap = formattedLevelMap.split('\n').join('<br />');

      $('.map').html(formattedLevelMap)
    },300*index);

  });

</script>


  
