<div class="content">

  <div class="leftPanel">

    <h1>Play RubyWarrior</h1>
    <br />
    <p><h2>
      <%= @warrior.name %> ( lvl: <%= @warrior.level %> )
    </h2></p>

    
    <div class="node">
      <div class="flagHolder">
        <div class="flag"><div class="icon radish"></div></div>
      </div>
      <div class="nodeitems">
      </div>
    </div>

    
    <div class="node">
      <div class="flagHolder">
        <div class="flag"><div class="icon cherry"></div></div>
      </div>
      <div class="nodeitems">
        <div class="item"><div class="icon run"></div></div>
        <div class="item"><div class="icon turn"></div></div>
        <div class="item"><div class="icon attack"></div></div>
      </div>
    </div>

    
    <div class="node">
      <div class="flagHolder">
        <div class="flag"><div class="icon blackberry"></div></div>
      </div>
      <div class="nodeitems">
      </div>
    </div>

    <div class="bank">
      <div class="item"><div class="icon run"></div></div>
      <div class="item"><div class="icon turn"></div></div>
      <div class="item"><div class="icon attack"></div></div>
    </div>

    <br />

  </div>

  <div class="rightPanel">

    <pre class="map">loading...</pre>

    <pre><%= simple_format @readme %></pre>

    <%= form_for(@warrior) do |f| %>
      <div class="field">
        <%= f.label :code %><br />
        <%= f.text_area :code %>
      </div>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>

    <p><%= simple_format @message %></p>


  </div>

</div>

<script>

  window.frameJSON = <%= raw @frameJSON.to_json %>;
  window.frameData = JSON.parse( window.frameJSON );

  window.frameData.forEach(function(frame,index){

    setTimeout( function(){
      var formattedLevelMap;
      formattedLevelMap = frame.levelMap;
      formattedLevelMap = formattedLevelMap+"\n"+frame.actionsMessage;
      formattedLevelMap = formattedLevelMap.split('\n').join('<br />');

      $('.map').html(formattedLevelMap)
    },300*index);

  });

</script>


  
